/* Tampilan Desktop */

body{
    font-family: 'Chivo', sans-serif !important;
}


.nav{
    background-color: lightgrey;
    border: black solid 1px;
}

.login-form{
    border: black solid 1px;
    margin: 5px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 5px 3px 5px grey;


}

.img-logo{
    width: 200px;
    height: 200px;
    padding: 5px;
    margin-right: 10px;
}

.btn-center{
    margin-left: 500px;
}


/* Tampilan Mobile */

@media (max-width: 767.98px) {
    .nav{
        background-color: lightgrey;
    }
    
    .login-form{
        border: black solid 1px;
        padding: auto;
        margin: auto;
    }
    
    .img-logo{
        width: 200px;
        height: 200px;
        padding: 5px;
        margin-left: 120px;;
        margin-right: 100px;
        text-align: center;
    }

    .btn-center{
        margin-left: 105px;
    }
}
